# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#other stuff
/src/Game/Msvc/*.suo
/src/Game/Msvc/*.sdf
/src/SEI/Msvc/*sdf
/src/SEI/Msvc/*.suo
/src/Temp/
/src/Game/Msvc/Game.vcxproj.user
/src/SEI/Msvc/ogl.vcxproj.user
/src/Game/Msvc/ipch/
/src/SEI/Msvc/ipch/
/src/SEI/3rdParty/
/src/Lib/
/src/ogl.suo
*.opensdf
*.si
